@import "tailwindcss";
@theme {
  --color-red-one: #f9330e;
  --color-black-one: #161618;
  --color-red-two: #fd642c5a;
  --color-red-three: #fd642c22;
  --color-wite-one: #ffffff;
  --color-gray-one: #f5f5f5;
  --spacing-30-p: 30%;
  --spacing-70-p: 70%;
}
span,
svg,
use {
  pointer-events: none;
}
a > div {
  pointer-events: none;
}
.playerbtn::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #f9330e;
  display: flex;
  position: absolute;
  top: 61%;
  left: -41%;
  border-radius: 50% 30% 40% 0;

  transform: translate(-50%, -50%);
}
.playerbtn::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #f9330e;
  display: flex;
  position: absolute;
  top: 61%;
  right: -65%;
  border-radius: 30% 50% 0 40%;

  transform: translate(-50%, -50%);
}
.backg {
  background-image: url(../img/Group\ 8713.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.progress-bar {
  display: flex;
  align-items: center;
  height: 5px;
  background-color: #f0f0f0;
}
.bar {
  width: 5px;
  height: 100%;
  /* margin: 0 0.1px; */
  background-color: #ccc;
  transition: background-color 0.3s;
  border-radius: 30px;
}
.bar.active {
  background-color: #f16c0d;
}
.footer{
  width: 300px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 180%;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 1;
    transform: skew(45deg);
    transition: 0.5s;
  }
  &:hover {
    > ::before {
      left: -180%;
    }
    > img {
      filter: grayscale(0%);
      transform: scale(1.1);
    }
    > h2 {
      transform: perspective(400px) rotateY(0deg);
    }
    > ul {
      transform: perspective(800px) rotateY(0deg);

      > li {
        transform: perspective(800px) rotateY(0deg);
        &:nth-child(1) {
          transition-delay: 0.2s;
        }
        &:nth-child(2) {
          transition-delay: 0.6s;
        }
        &:nth-child(3) {
          transition-delay: 0.8s;
        }
        > svg {
          fill:#f5f8ff;
        }
      }
    }
  }
  > img {
    height: 400px;
    width: 300px;
    filter: grayscale(100%);
    transition: 2s;
    object-fit: cover;
  }
  > h2 {
    background: var(--one-x);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: perspective(400px) rotateY(90deg);
    transform-origin: right;
    transition: 1s;
  }
  > ul {
    position: absolute;
    top: 10px;
    left: 0px;
    margin: 0;
    padding: 0;
    list-style: none;
    background: rgba(255, 255, 255, 0);
    > li {
      background: #333;
      height: 40px;
      width: 40px;
      text-align: center;
      line-height: 40px;
      transform: perspective(800px) rotateY(90deg);
      transition: 0.5s;
      transform-origin: left;
      > a {
        color: var(--one-x);
        background: rgba(255, 255, 255, 0);
      }
    }
  }
  >h6{
    font-size: 3vw;
    color: var(--four-x);
    text-shadow: 0px 0px 5px  var(--four-x);
  }

}
*::-webkit-scrollbar {
  width: 0 !important;
}
*{
  -ms-overflow-style: none;
  -ms-overflow-style: none;
}